* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  background: #fff;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

.button {
  background: #fff;
  border: 1px solid #bbb;
  padding: 5px 15px;
  display: inline-block;
  margin: 0 auto;
}

#svg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 350px;
  background: #fff;
}

#gcode {
  position: absolute;
  display: block;
  margin: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  width: 350px;
  padding: 10px;
  background: #eee;
  overflow: scroll;
}

#controls {
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
  height: 50px;
  background: #dddddd;
  text-align: center;
  padding: 10px;
}
